body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 30px 30px;
    background-color: #A9BF04;
}

img {
    height:200px
}

nav {
    padding: 16px;
    border-bottom: 1px #D9B959
}

header {
    background-color:  #D27010;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-container a {
    color: #A9BF04
}

.my-table tr:nth-child(even) {
    background-color: lightgrey;
}
